<main class="main">
  <div class="content-container">
    <a href="http://localhost:4200/"
      style="text-align: center;text-decoration: none;color: black;font-size: 25px;margin-bottom: 24px;">
      🏠︎ Home Page
    </a>

    <div class="search-container" #searchGroup style="margin-bottom: 20px;">
      <input type="text" (input)="onChangeSearchStr($event.target.value)" class="search-input"
        placeholder="Search by Task Group's title">
    </div>
    <div class="category-container-head" style="margin-bottom: 0px;">
      <ul class="tasks-list tasks-list-scroll">
        <li class="task">
          <div class="task-card">
            <div class="task-content" (click)="onOpenAddCat('Add New Task Group')">
              <div class="task-title" style="cursor: pointer;">+ Add New Task Group</div>
            </div>
          </div>
        </li>
        @if(curUrl==='/') {
        <li class="task">
          <div class="task-card" style=" background: #f9fafb;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);">
            <div class="task-content">
              <div class="task-title">All</div>
            </div>
          </div>
        </li>
        }
        @else {
        <li class="task">
          <div class="task-card" (click)="goToTaskListPage(0)">
            <div class="task-content">
              <div class="task-title">All</div>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>

    <div class="category-container" style="margin-top: 0px;">
      <ul class="tasks-list tasks-list-scroll">
        <li *ngFor="let c of cats" class="task">
            @if (categoryId === c.categoryId) {
               <div class="task-row">
            <div class="task-card" style="background: #f9fafb; box-shadow: 0 2px 6px rgba(0,0,0,0.08);">
              <div class="task-content" (click)="goToTaskListPage(c.categoryId)"
                style="display: flex;justify-content: space-between;align-items: center;">
                @if (c.isDeleted === false) {
                <div class="task-title">{{ c.categoryName }}</div>
                } 
                @else {<div class="task-title">{{ c.categoryName }} (Deleted)</div>}

              </div>
              <div class="more-wrapper">
                  <button class="more-btn" (click)="toggleMenu(c.categoryId, $event)">
                    ⋯
                  </button>

                  <div class="more-menu" *ngIf="openedMenuId === c.categoryId">
                    @if (c.isDeleted === false) {
                    <button type="button" (click)="onOpenAddCat('Edit Task Group',c)">Edit</button>
                    }

                    @if (c.isDeleted === false) {
                    <button type="button" (click)="onDeleteCategory(c)">Delete</button>
                    }
                    @else {
                      <button type="button" (click)="onOpenResCat('Res Task Group',c)">Restore</button>
                    }
                  </div>
                </div>
            </div>
            </div>
            }
            @else {
              <div class="task-row">
            <div class="task-card" >
              <div class="task-content" (click)="goToTaskListPage(c.categoryId)"
                style="display: flex;justify-content: space-between;align-items: center;">
                @if (c.isDeleted === false) {
                <div class="task-title">{{ c.categoryName }}</div>
                } 
                @else {<div class="task-title">{{ c.categoryName }} (Deleted)</div>}

                

              </div>
              <div class="more-wrapper">
                  <button class="more-btn" (click)="toggleMenu(c.categoryId, $event)">
                    ⋯
                  </button>

                  <div class="more-menu" *ngIf="openedMenuId === c.categoryId">
                    @if (c.isDeleted === false) {
                    <button type="button" (click)="onOpenAddCat('Edit Task Group',c)">Edit</button>
                    }

                    @if (c.isDeleted === false) {
                    <button type="button" (click)="onDeleteCategory(c)">Delete</button>
                    }
                    @else {
                      <button type="button" (click)="onOpenResCat('Res Task Group',c)">Restore</button>
                    }
                    
                  </div>
                </div>
            </div>
            </div>
            }

        </li>

      </ul>
    </div>
    <!-- <div class="filter-container" #statusGroup>
      <div class="txtFilter">Status</div>
      <hr/>
      <div class="filter-options">

        <label class="filter-item">
          <input type="checkbox"
                class="status-all-item"
                value = "All"
                 (change)="toggleAllStatus($event)">
                 
          All
        </label>

        <label class="filter-item">
          <input type="checkbox"
                 class="status-item"
                 (change)="onChangeStatus($event, 'Pending')"
                 (change)="toggleAllOfStatus()"
                 value="Pending">
          Pending
        </label>

        <label class="filter-item">
          <input type="checkbox"
                 class="status-item"
                 (change)="onChangeStatus($event, 'Done')"
                 (change)="toggleAllOfStatus()"
                 value="Done">
          Done
        </label>
      </div>
    </div>

    <div class="filter-pr-container" #priorityGroup>
      <div class="txtPrFilter">Priority</div>
      <hr/>
      <div class="filter-pr-options">

        <label class="filter-pr-item">
          <input type="checkbox"
                 (change)="toggleAllPriority($event)"
                 class="priority-all-item"
                 value="All"
                 >
                 
          All
        </label>

        <label class="filter-pr-item">
          <input type="checkbox"
                 class="priority-item"
                 (change)="onChangePriority($event, 'High')"
                 (change)="toggleAllOfPrio()"
                 value="High">
          High
        </label>

        <label class="filter-pr-item">
          <input type="checkbox"
                 class="priority-item"
                 (change)="onChangePriority($event, 'Medium')"
                 (change)="toggleAllOfPrio()"
                 value="Medium">
          Medium
        </label>

        <label class="filter-pr-item">
          <input type="checkbox"
                 class="priority-item"
                 (change)="onChangePriority($event, 'Low')"
                 (change)="toggleAllOfPrio()"
                 value="Low">
          Low
        </label>
      </div>
    </div> -->

    @if (curUrl.includes('/taskList') || curUrl==='/'){
    <!-- <a href="http://localhost:4200/" class="btn-back-tasks">Back</a> -->
    <a (click)="goToDeletedTasksPage(categoryId)" class="btn-deleted-tasks">🗑 Deleted Tasks</a>
    }
    @if (curUrl.includes('/deletedTasksPage')) {
    <a (click)="goBack()" class="btn-deleted-tasks">Back</a>
    }
  </div>
  <div class="add-cate-overlay" *ngIf="openAddCat">

    <div class="confirm-box">
      <div style="text-align: left;">{{curContentForm}}</div>
      <input #titleInput type="text" class="input-box" ((change))="changeInputState(titleInput.value)"
        [value]="curTaskGroup?.categoryName" />
      <div style="font-size: 10px;color: red;margin-bottom: 10px;" *ngIf="inputState==='empty'">Task title can not be
        empty</div>
      <div style="font-size: 10px;color: red;margin-bottom: 10px;" *ngIf="inputState==='only-space'">Task title can not
        be just space</div>

      <button class="btn-cancel" (click)="onCancelClick()">Cancel</button>
      <button class="btn-ok" (click)="onCloseClickReload(titleInput.value)">Save</button>

    </div>
  </div>

  <div class="add-cate-overlay" *ngIf="openDelCat">

    <div class="confirm-box">
      <div style="text-align: center;margin-bottom:20px;margin-top:10px;">Delete this task group?</div>
      <button class="btn-cancel" (click)="onCancelDelClick()">Cancel</button>
      <button class="btn-ok" (click)="onCloseClickDelReload(curTaskGroup)">Yes, Delete</button>

    </div>
  </div>

  <div class="add-cate-overlay" *ngIf="openResCat">

    <div class="confirm-box">
      <div style="text-align: center;margin-bottom:20px;margin-top:10px;">Restore this task group?</div>
      <button class="btn-cancel" (click)="onCancelResClick()">Cancel</button>
      <button class="btn-ok" (click)="onCloseClickResReload(curResTaskGroup)">Yes, Restore</button>

    </div>
  </div>
</main>