.main {
  
  }
.content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #F4F4F4;
    border-radius: 8px;
}

.search-container {
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px; 
    padding: 8px 12px; 
    width: 80%;
    height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); 
    background-color: #fff; 
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none; 
    font-size: 16px;
    font-family: inherit; 
    color: #333;
}

.search-input::placeholder {
    color: #a0a0a0;
    opacity: 1; 
}
.filter-container {
    width: 85%;
    
}
.txtFilter {
    margin: 20px 0px;
    display: block;
    text-align: left;
}
.filter-options{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.filter-item {
    width: 100%;
}

.filter-pr-container {
    width: 85%;
    
}
.txtPrFilter {
    margin: 20px 0px;
    display: block;
    text-align: left;
}
.filter-pr-options{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.filter-pr-item {
    width: 100%;
}